<div ng-controller="PlayCtrl">

  <h3>Numbers</h3>
  <ul>
    <li ng-repeat="n in play.numbers">{{n}}</li>
  </ul>

  <h3>Odd numbers</h3>
  <ul>
    <li ng-repeat="n in play.oddNumbers">{{n}}</li>
  </ul>

  <h3>Even numbers</h3>
  <ul>
    <li ng-repeat="n in play.evenNumbers">{{n}}</li>
  </ul>

  <h3>Sorted</h3>
  <ul>
    <li ng-repeat="n in play.sortedNumbers">{{n}}</li>
  </ul>

  <h2>Collection</h2>
  <div style="float:left; width: 33%">
    <h3>Initial</h3>
    <ul>
      <li ng-repeat="e in play.collection">{{e.name}} : {{e.score}}</li>
    </ul>
  </div>
  <div style="float:left; width: 33%">
    <h3>Sorted by score</h3>
    <ul>
      <li ng-repeat="e in play.sortedCollectionByScore">{{e.name}} : {{e.score}}</li>
    </ul>
  </div>
  <div style="float:left; width: 33%">
    <h3>Sorted by name</h3>
    <ul>
      <li ng-repeat="e in play.sortedCollectionByName">{{e.name}} : {{e.score}}</li>
    </ul>
  </div>

  <h2>Array by Reference</h2>
  <div style="float:left; width: 50%">
    <h3>Initial</h3>
    <ul>
      <li ng-repeat="e in play.numbersByRef">{{e}}</li>
    </ul>
  </div>
  <div style="float:left; width: 50%">
    <h3>Sorted by score</h3>
    <ul>
      <li ng-repeat="e in play.sortedNumbersByRef">{{e}}</li>
    </ul>
  </div>

  <h2>Collection</h2>
  <div style="float:left; width: 33%">
    <h3>Obj A</h3>
    <ul>
      <li>{{play.objA.title}}</li>
      <li>{{play.objA.description}}</li>
      <li>{{play.objA.value}}</li>
    </ul>
  </div>

  <div style="float:left; width: 33%">
    <h3>Obj B</h3>
    <ul>
      <li>{{play.objB.title}}</li>
      <li>{{play.objB.description}}</li>
      <li>{{play.objB.value}}</li>
    </ul>
  </div>

  <div style="float:left; width: 33%">
    <h3>Obj C</h3>
    <ul>
      <li>{{play.objC.title}}</li>
      <li>{{play.objC.description}}</li>
      <li>{{play.objC.value}}</li>
    </ul>
  </div>

</div> <!-- /ng-controller -->
